.header {

}

.title {
    display: flex;
    justify-content: center;
}

.title-text {
    margin-top: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin-top: 1em;
}
