.header {

}

.title {
    display: flex;
    justify-content: center;
}

.title-text {
    margin-top: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin-right: 1em;
    margin-top: 1em;
}

.create-user {
    display: flex;
    justify-content: center;
}

.toggle-button {
    cursor: pointer;
    position: absolute;
    width: 100%;
    justify-content: flex-start;
}

.refresh-button {
    cursor: pointer;
    width: 100%;
    justify-content: flex-start;
}

.profile-img {
    width: 5em;
}